<%= f.error_messages %>
<%= select_user "college_be_record[user_id]" %>
<p>
  <%= f.label :year, "年度" %>
  <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2015}, :name => 'college_be_record[year]') %>
</p>
<p>
  <%= f.label :month, "月份" %><br />
  <%= select_month(Time.now.month, {:use_month_numbers => true}, :name => 'college_be_record[month]')  %>
</p>
<p>
  <%= f.label :life_be, "生活补贴"%>
  <%= f.text_field :life_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :diff_be, "补贴补差"%>
  <%= f.text_field :diff_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :livesa_be, "活工资补贴"%>
  <%= f.text_field :livesa_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :tv_be, "电视补贴"%>
  <%= f.text_field :tv_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :beaulty_be, "驻蓉补贴"%>
  <%= f.text_field :beaulty_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :other_be, "其他"%>
  <%= f.text_field :other_be, :size => 10, :class => "number" %>
</p>