<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<% unless @current_user.theme.nil? %>
  <link id="theme" href="/javascripts/ext-2.2.1/resources/css/<%= h @current_user.theme %>.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <label for="search_department_id">系部:</label>
    <% list_departments_for_search %>
    <select style="margin:0px;padding:0px;float:none;" id="search_department_id" name="search_department_id">
      <% @options.each do |option| %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
      <% end %>
    </select>
    <label for="search_name">姓名：</label>
    <input type="text" value="" size="15" name="search_name" id="search_name"/>
    <label for="search_year_month">年月:</label>
    <select style="margin: 0px; padding: 0px; float: none;" name="search_year" id="search_year">
      <option value="" selected="selected">年度</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
    </select>
    <select style="margin: 0px; padding: 0px; float: none;" name="search_month" id="search_month">
      <option value="" selected="selected">月份</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <label for="search_confirm">是否审核：</label>
    <select style="margin: 0px; padding: 0px; float: none;" name="search_confirm" id="search_confirm">
      <option value="" selected="selected">请选择</option>
      <option value="0">未审核</option>
      <option value="1">已审核</option>
    </select>
    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <input value="重置"class="btnreset" type="reset" />
    <input value="刷新 " onclick="window.location.reload()" class="btnrefresh" type="button"  />
  </form>
  <div>
    <div class="nav">
      <span class="button" id="newItem" onclick="$page.showNewView()"><img  src="/images/icons/new.png"/>新建</span>
      <input type="button" class="button" onclick="generate()" style="width:150px" value="批量生成当月学院补贴" />
      <span style="color:blue">*工资批量生成前，请先确保有学院补贴标准数据！</span>
    </div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<%= finance_policy(@current_user.roles)  %>
<script>
  function generate(){
    var waitBox = Ext.Msg.show({
      wait: true,
      progress: true,
      msg: '操作时间较长，请耐心等候...',
      closeable: false
    });
    try{
      $.post("/college_be_records/generate_benefits",  function(data){
        var json = eval("(function(){return " + data + "})()");
        waitBox.hide();
        $page.refreshGridData();
        if(json.msg)alert(json.msg);
      })
    }catch(e){
      waitBox.hide();
    }
  }
</script>