<p>
  <b>User:</b>
  <%=h @college_be_record.user %>
</p>

<p>
  <b>Year:</b>
  <%=h @college_be_record.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @college_be_record.month %>
</p>

<p>
  <b>Life be:</b>
  <%=h @college_be_record.life_be %>
</p>

<p>
  <b>Diff be:</b>
  <%=h @college_be_record.diff_be %>
</p>

<p>
  <b>Livesa be:</b>
  <%=h @college_be_record.livesa_be %>
</p>

<p>
  <b>Tv be:</b>
  <%=h @college_be_record.tv_be %>
</p>

<p>
  <b>Beaulty be:</b>
  <%=h @college_be_record.beaulty_be %>
</p>

<p>
  <b>Other be:</b>
  <%=h @college_be_record.other_be %>
</p>


<%= link_to 'Edit', edit_college_be_record_path(@college_be_record) %> |
<%= link_to 'Back', college_be_records_path %>