<fieldset>
  <legend>查看[<%=h @college_be_record.user %>]的学院补贴记录</legend>
  <p>
    <b>教职工姓名:</b>
    <%=h @college_be_record.user %>
  </p>

  <p>
    <b>年份:</b>
    <%=h @college_be_record.year %>
  </p>

  <p>
    <b>月份:</b>
    <%=h @college_be_record.month %>
  </p>

  <p>
    <b>生活补贴:</b>
    <%=h @college_be_record.life_be %>
  </p>

  <p>
    <b>补贴补差:</b>
    <%=h @college_be_record.diff_be %>
  </p>

  <p>
    <b>活工资补贴:</b>
    <%=h @college_be_record.livesa_be %>
  </p>

  <p>
    <b>电视补贴:</b>
    <%=h @college_be_record.tv_be %>
  </p>

  <p>
    <b>驻蓉补贴:</b>
    <%=h @college_be_record.beaulty_be %>
  </p>

  <p>
    <b>其他:</b>
    <%=h @college_be_record.other_be %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>