<%= f.error_messages %>
<p>
  <%= f.label :key, "Key" %>
  <%= f.text_field :key, :class => "required"%>
</p>
<p>
  <%= f.label :value, "Value" %>
  <%= f.text_field :value, :class => "required" %>
</p>