<%= stylesheet_link_tag "form.css" %>
<fieldset>
  <legend>我的个人信息</legend>
  <p>
    <b>姓名:</b>
    <%=h @current_user.name %>
  </p>
  <p>
    <b>教学所属系部:</b>
    <%=h @current_user.department.name if @current_user.department %>
  </p>
  <p>
    <b>姓名:</b>
    <%=h @current_user.td_belongs.name if @current_user.td_belongs %>
  </p>
  <p>
    <b>性别:</b>
    <%=h fuzzy_gender(@current_user.gender) %>
  </p>
  <p>
    <b>职称:</b>
    <%=h @current_user.title.name if @current_user.title %>
  </p>
  <p>
    <b>职务:</b>
    <%=h @current_user.position.name if @current_user.position %>
  </p>
  <p>
    <b>生日:</b>
    <%=h fuzzy_time(@current_user.birthday) %>
  </p>
  <p>
    <b>身份证号:</b>
    <%=h @current_user.id_card %>
  </p>
  <p>
    <b>登录用户名:</b>
    <%=h @current_user.login_id %>
  </p>
   <p>
    <b>学历:</b>
    <%=h @current_user.education.name if @current_user.education %>
  </p>
  <p>
    <b>学位:</b>
    <%=h @current_user.degree.name if @current_user.degree %>
  </p>
  <p>
    <b>身份:</b>
    <%=h @current_user.status.name if @current_user.status %>
  </p>
  <p>
    <b>参加工作时间:</b>
    <%=h fuzzy_time(@current_user.job_date) %>
  </p>
  <p>
    <b>入校工作时间:</b>
    <%=h fuzzy_time(@current_user.ensch_date) %>
  </p>
  <p>
    <b>合同号:</b>
    <%=h @current_user.contract_number %>
  </p>
  <p>
    <b>签订时间:</b>
    <%=h fuzzy_time(@current_user.valid_from) %>
  </p>
  <p>
    <b>到期时间:</b>
    <%=h fuzzy_time(@current_user.valid_end) %>
  </p>
  <p>
    <b>毕业学校:</b>
    <%=h @current_user.gra_school %>
  </p>
  <p>
    <b>是否入编:</b>
    <%=h @current_user.is_nature.to_s == "true" ? "是" : "否" %>
  </p>
  <p>
    <b>是否离退休:</b>
    <%=h @current_user.is_retired.to_s == "true" ? "是" : "否" %>
  </p>
  <% unless @current_user.bank_cards.blank? %>
    <p>
    <b>银行卡号:</b>
    <%=h @current_user.bank_cards.first.bank.name %> : <%=h @current_user.bank_cards.first.card_number %>
    <%=h @current_user.bank_cards.last.bank.name %> : <%=h @current_user.bank_cards.last.card_number %>
  </p>
  <% end %>
</fieldset>