<fieldset>
  <legend>扣款明细</legend>
  <table>
    <thead>
      <tr>
        <td>序号</td>
        <td>年度</td>
        <td>月份</td>
        <td>其他扣款一</td>
        <td>其他扣款二</td>
        <td>其他扣款三</td>
      </tr>
    </thead>
    <tbody>
      <% if @fee_cuttings.size > 0 -%>
        <% @fee_cuttings.each do |f|  %>
          <tr>
            <td><%=h f.id %></td>
            <td><%=h f.year %></td>
            <td><%=h f.month  %></td>
            <td><%=h f.other_fee1 %></td>
            <td><%=h f.other_fee2 %></td>
            <td><%=h f.other_fee3 %></td>
          </tr>
        <% end %>
      <% else -%>
        <tr>
          <td colspan="12">无扣款信息</td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</fieldset>