<%= f.error_messages %>
<p>
  <%= f.label :user_id, "教职工" %>
  <%= f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教职工..." }, :class => "required" %>
</p>
<p>
  <%= f.label :station_be, "岗位津贴" %>
  <%= f.text_field :station_be, :class => 'required number' %>
</p>
<p>
  <%= f.label :position_be, "职务津贴" %>
  <%= f.text_field :position_be, :class => "required number" %>
</p>
