<%= f.error_messages %>
<p>
  <%= f.label :user_id, "离退休人员" %>
  <%= f.select :user_id, get_retired_staffs.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择离退休人员..." }, :class => "required" %>
</p>
<p>
  <%= f.label :year, "年度" %>
  <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2015}, :name => 'retired_college_be_record[year]') %>
</p>
<p>
  <%= f.label :month, "月份" %><br />
  <%= select_month(Time.now.month, {:use_month_numbers => true}, :name => 'retired_college_be_record[month]')  %>
</p>
<p>
  <%= f.label :diff_be, "补贴补差" %>
  <%= f.text_field :diff_be, :class => "number" %>
</p>
<p>
  <%= f.label :tv_be, "电视补贴" %>
  <%= f.text_field :tv_be, :class => "number" %>
</p>
<p>
  <%= f.label :beaulty_be, "驻蓉补贴" %>
  <%= f.text_field :beaulty_be, :class => "number" %>
</p>
<p>
  <%= f.label :other_be1, "其他1" %>
  <%= f.text_field :other_be1, :class => "number" %>
</p>
<p>
  <%= f.label :other_be2, "其他2" %>
  <%= f.text_field :other_be2, :class => "number" %>
</p>
<p>
  <%= f.label :other_be3, "其他3" %>
  <%= f.text_field :other_be3, :class => "number" %>
</p>
