<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <label for="search_name">
      名称：
    </label>
    <input type="text" value="" name="search_name" id="search_name"/>
    <input class="button" type="button" id="btnSearch" value="搜索"/>
  </form>
  <div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<script>
  //{header: [dataIndex(首字母大写)], renderer: money(Function),menuDisabled: [true],
  // dataIndex: "fieldName" ,width: 100, sortable: [false], resizable: [false]}
  //框[]中的为默认值
  Ext.onReady(function(){
    var columns = [{
        header: "ID",
        dataIndex: 'id',
        width: 30,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "员工姓名",
        dataIndex: 'user',
        sortable: true
      }, {
        header: "年份",
        dataIndex: 'year',
        sortable: true
      }, {
        header: "月份",
        dataIndex: 'month',
        sortable: true
      }, {
        header: "补贴补差",
        dataIndex: 'diff_be',
        sortable: true
      }, {
        header: "电视补贴",
        dataIndex: 'tv_be',
        sortable: true
      }, {
        header: "驻蓉补贴",
        dataIndex: 'beaulty_be',
        sortable: true
      }, {
        header: "其他1",
        dataIndex: 'other_be1',
        sortable: true
      }, {
        header: "其他2",
        dataIndex: 'other_be2',
        sortable: true
      }, {
        header: "其他3",
        dataIndex: 'other_be3',
        sortable: true
      }]
    var controllerName = "retired_college_be_records";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "离退休人员学院补贴记录管理列表",
      newItemLink: "newItem",
      columns: columns
    }
    $page = new ExtListPage(options);
  })
</script>
