<p>
  <%= f.label :field, "离退休人员" %><br />
  <%= f.select :user_id, get_retired_staffs.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择离退休人员" }, :class => "required" %>
</p>
<p>
  <%= f.label :field, "月基本退休费" %><br />
  <%= f.text_field :basic_fee, :class => "required" %>
</p>
<p>
  <%= f.label :field, "工改保留补贴_93年" %><br />
  <%= f.text_field :stay_be, :class => "required" %>
</p>
<p>
  <%= f.label :field, "其他国家出台津补贴" %><br />
  <%= f.text_field :foreign_be, :class => "required" %>
</p>
<p>
  <%= f.label :field, "地方出台津补贴" %><br />
  <%= f.text_field :region_be, :class => "required" %>
</p>