<h1>Editing retired_basic_salary</h1>

<% form_for(@retired_basic_salary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :field, "离退休人员" %><br />
    <%= select("retired_basic_salary","user_id", get_retired_staffs.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择离退休人员" }) %>
  </p>
  <p>
    <%= f.label :field, "月基本退休费" %><br />
    <%= f.text_field :basic_fee %>
  </p>
  <p>
    <%= f.label :field, "工改保留补贴_93年" %><br />
    <%= f.text_field :stay_be %>
  </p>
  <p>
    <%= f.label :field, "其他国家出台津补贴" %><br />
    <%= f.text_field :foreign_be %>
  </p>
  <p>
    <%= f.label :field, "地方出台津补贴" %><br />
    <%= f.text_field :region_be %>
  </p>
  <p>
    <%= f.submit '更新' %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>