<fieldset>
  <legend>查看离退休人员[<%= @retired_basic_salary.user.name if @retired_basic_salary.user %>]的基本工资信息</legend>
  <p>
    <b>离退休人员姓名:</b>
    <%=h @retired_basic_salary.user.name %>
  </p>

  <p>
    <b>月基本退休费:</b>
    <%=h @retired_basic_salary.basic_fee %>
  </p>

  <p>
    <b>工改保留补贴_93年:</b>
    <%=h @retired_basic_salary.stay_be %>
  </p>

  <p>
    <b>其他国家出台津补贴:</b>
    <%=h @retired_basic_salary.foreign_be %>
  </p>

  <p>
    <b>地方出台津补贴:</b>
    <%=h @retired_basic_salary.region_be %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>