<%= f.error_messages %>
<%= select_user "basic_salary[user_id]" %>
<p>
  <%= f.label :station_sa, "岗位工资"%>
  <%= f.text_field :station_sa, :size => 10, :class => "required number"  %>
</p>
<p>
  <%= f.label :position_sa, "职务工资"%>
  <%= f.text_field :position_sa, :size => 10, :class => "required number" %>
</p>
<p>
  <%= f.label :station_be, "岗位津贴"%>
  <%= f.text_field :station_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :foreign_be, "其他国家出台津补贴"%>
  <%= f.text_field :foreign_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :region_be, "地方出台津补贴"%>
  <%= f.text_field :region_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :hard_be, "艰苦边远"%>
  <%= f.text_field :hard_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :stay_be, "公改保留补贴"%>
  <%= f.text_field :stay_be, :size => 10, :class => "number" %>
</p>