<h1>添加基本工资</h1>

<% form_for(@basic_salary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :field, "教职工姓名" %>
    <%= select("basic_salary","user_id", User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教职工" }) %>
  </p>
  <p>
    <%= f.label :field, "岗位工资"%>
    <%= f.text_field :station_sa, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "职务工资"%>
    <%= f.text_field :position_sa, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "岗位津贴"%>
    <%= f.text_field :station_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "其他国家出台津补贴"%>
    <%= f.text_field :foreign_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "地方出台津补贴"%>
    <%= f.text_field :region_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "艰苦边远"%>
    <%= f.text_field :hard_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "公改保留补贴"%>
    <%= f.text_field :stay_be, :size => 10 %>
  </p>
  <p>
    <%= f.submit '保存', :class => "button" %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>