<%= f.error_messages %>

<p>
  <%= f.label :user_id, "用户" %>
  <%= f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户..." }, :class => "required" %>
</p>
<p>
  <%= f.label :subject, "名目" %><br />
  <%= f.text_field :subject, :class => "required" %>
</p>
<p>
  <%= f.label :fee, "金额" %><br />
  <%= f.text_field :fee, :class => "required" %>
</p>
<p>
  <%= f.label :date, "发放日期" %><br />
  <%= f.datetime_select :date %>
</p>
<p>
  <%= f.label :be_type, "类型" %><br />
  <%= f.text_field :be_type %>
</p>