<%= f.error_messages %>
<%= select_user "undefind_fee[user_id]" %>
<p>
  <%= f.label :subject, "名目" %>
  <%= f.text_field :subject, :class => "required" %>
</p>
<p>
  <%= f.label :fee, "金额" %>
  <%= f.text_field :fee, :class => "required number" %>
</p>
<p>
  <%= f.label :date, "发放日期" %>
  <%= f.date_select :date, :start_year => 2009, :end_year => 2015, :use_month_numbers => true, :order => [:year, :month, :day] %>
</p>
<p>
  <%= f.label :be_type, "类型" %>
  <%= f.text_field :be_type %>
</p>