<p>
  <b>User:</b>
  <%=h @undefind_fee.user %>
</p>

<p>
  <b>Subject:</b>
  <%=h @undefind_fee.subject %>
</p>

<p>
  <b>Fee:</b>
  <%=h @undefind_fee.fee %>
</p>

<p>
  <b>Date:</b>
  <%=h @undefind_fee.date %>
</p>

<p>
  <b>Type:</b>
  <%=h @undefind_fee.type %>
</p>


<%= link_to 'Edit', edit_undefind_fee_path(@undefind_fee) %> |
<%= link_to 'Back', undefind_fees_path %>