<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :sexy %><br />
    <%= f.check_box :sexy %>
  </p>
  <p>
 <%= submit_to_remote 'create_btn', 'Create', :url => { :action => 'create' },
   :update => { :success => "succeed", :failure => "fail" } %>
    <%= f.submit '保存', :class => "button" %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>

