<fieldset>
  <legend>查看[<%= @fee_cutting_record.user %>]的扣款记录</legend>
  <p>
    <b>教职工:</b>
    <%=h @fee_cutting_record.user %>
  </p>

  <p>
    <b>年份:</b>
    <%=h @fee_cutting_record.year %>
  </p>

  <p>
    <b>月份:</b>
    <%=h @fee_cutting_record.month %>
  </p>

  <p>
    <b>住房公积金:</b>
    <%=h @fee_cutting_record.room_fee %>
  </p>

  <p>
    <b>医疗保险:</b>
    <%=h @fee_cutting_record.med_fee %>
  </p>

  <p>
    <b>水电气费:</b>
    <%=h @fee_cutting_record.elc_fee %>
  </p>

  <p>
    <b>失业保险:</b>
    <%=h @fee_cutting_record.job_fee %>
  </p>

  <p>
    <b>职工个人教育费:</b>
    <%=h @fee_cutting_record.selfedu_fee %>
  </p>

  <p>
    <b>其他扣款一:</b>
    <%=h @fee_cutting_record.other_fee1 %>
  </p>

  <p>
    <b>其他扣款二:</b>
    <%=h @fee_cutting_record.other_fee2 %>
  </p>

  <p>
    <b>其他扣款三:</b>
    <%=h @fee_cutting_record.other_fee3 %>
  </p>

  <p>
    <b>个人所得税:</b>
    <%=h @fee_cutting_record.self_tax %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>