<p>
  <b>User:</b>
  <%=h @fee_cutting_record.user %>
</p>

<p>
  <b>Year:</b>
  <%=h @fee_cutting_record.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @fee_cutting_record.month %>
</p>

<p>
  <b>Room fee:</b>
  <%=h @fee_cutting_record.room_fee %>
</p>

<p>
  <b>Med fee:</b>
  <%=h @fee_cutting_record.med_fee %>
</p>

<p>
  <b>Elc fee:</b>
  <%=h @fee_cutting_record.elc_fee %>
</p>

<p>
  <b>Job fee:</b>
  <%=h @fee_cutting_record.job_fee %>
</p>

<p>
  <b>Selfedu fee:</b>
  <%=h @fee_cutting_record.selfedu_fee %>
</p>

<p>
  <b>Other fee1:</b>
  <%=h @fee_cutting_record.other_fee1 %>
</p>

<p>
  <b>Other fee2:</b>
  <%=h @fee_cutting_record.other_fee2 %>
</p>

<p>
  <b>Other fee3:</b>
  <%=h @fee_cutting_record.other_fee3 %>
</p>

<p>
  <b>Self tax:</b>
  <%=h @fee_cutting_record.self_tax %>
</p>


<%= link_to 'Edit', edit_fee_cutting_record_path(@fee_cutting_record) %> |
<%= link_to 'Back', fee_cutting_records_path %>