<%= f.error_messages %>
<%= select_user("all", "welfare_benefit[user_id]", @welfare_benefit.user_id) %>
<p>
  <%= f.label :subject, "福利津贴名目" %>
  <%= f.text_field :subject %>
</p>
<p>
  <%= f.label :fee, "金额" %>
  <%= f.text_field :fee, :class => "number" %>
</p>
<p>
  <%= f.label :date, "发放时间"%>
  <%= f.datetime_select :date %>
</p>