<%= f.error_messages %>
<p>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name, :class => "required" %>
</p>
<p>
  <%= f.label :department_id, "系部"%>
  <%= f.select :department_id, Department.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择系部..." }, :class => "required" %>
</p>
<p>
  <%= f.label :td_belongs_id, "教学所属系部"%>
  <%= f.select :td_belongs_id, Department.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教学所属系部..." }, :class => "required" %>
</p>
<p>
  <%= f.label :gender, "性别" %>
  <%= f.select :gender, [["请选择性别...",""],["男","m"],["女","f"]],{}, :class => "required"  %>
</p>
<p>
  <%= f.label :title_id, "职称" %>
  <%= f.select :title_id, Title.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择职称..." }, :class => "required" %>
</p>
<p>
  <%= f.label :position_id, "职务" %>
  <%= f.select :position_id, Position.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择职务..." }, :class => "required" %>
</p>
<p>
  <%= f.label :birthday, "生日" %>
  <%= f.date_select :birthday, {:start_year => 1950, :end_year => 2000, :order => [:year, :month, :day],:use_month_numbers => true}, :class => "required" %>
</p>
<p>
  <%= f.label :id_card, "身份证" %>
  <%= f.text_field :id_card, :class =>"required" %>
</p>
<p>
  <%= f.label :login_id, "用户名" %>
  <%= f.text_field :login_id, :class => "required", :minlength => 6, :maxlength => 15 %>
</p>
<p>
  <%= f.label :update_password, "密码" %>
  <%= f.password_field :update_password, :class => "required", :minlength => 6 %>
</p>
<p>
  <%= f.label :is_nature, "是否入编" %>
  <%= f.check_box :is_nature %>
</p>
<p>
  <%= f.label :is_retired, "是否离退休" %>
  <%= f.check_box :is_retired %>
</p>