<%= f.error_messages %>
<p>
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name, :class => "required" %>
</p>
<p>
  <%= f.label :department_id, "系部"%>
  <%= f.select :department_id, Department.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择系部..." }, :class => "required" %>
</p>
<p>
  <%= f.label :td_belongs_id, "教学所属系部"%>
  <%= f.select :td_belongs_id, Department.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教学所属系部..." }, :class => "required" %>
</p>
<p>
  <%= f.label :title_id, "职称" %>
  <%= f.select :title_id, Title.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择职称..." }, :class => "required" %>
</p>
<p>
  <%= f.label :position_id, "职务" %>
  <%= f.select :position_id, Position.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择职务..." }, :class => "required" %>
</p>
<p>
  <%= f.label :birthday, "生日" %>
  <%= f.date_select :birthday, {:start_year => 1950, :end_year => 2000, :order => [:year, :month, :day],:use_month_numbers => true}, {:class => "required", :style => "width:80px" }%>
</p>
<p>
  <%= f.label :id_card, "身份证" %>
  <%= f.text_field :id_card, :class =>"required" %>
</p>
<p>
  <label>性别</label>
  <label for="gender"><%= f.radio_button :gender, "m"  %>男</label>
  <label for="gender"><%= f.radio_button :gender, "f"  %>女</label>
</p>
<p>
  <label>入编状态</label>
  <label for="retired"><%= f.radio_button :is_nature, true   %>入编</label>
  <label for="retired"><%= f.radio_button :is_nature, false  %>非入编</label>
</p>
<p>
  <label>工作状态</label>
  <label for="retired"><%= f.radio_button :is_retired, false  %>在职</label>
  <label for="retired"><%= f.radio_button :is_retired, true   %>离退休</label>
</p>