<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<% unless @current_user.theme.nil? %>
  <link id="theme" href="/javascripts/ext-2.2.1/resources/css/<%= h @current_user.theme %>.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<%= stylesheet_link_tag "grid.css" %>
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <label for="search_name">姓名：</label>
    <input type="text" value="" size="15" name="search_name" id="search_name"/>

    <label for="search_department_id">系部:</label>
    <% list_departments_for_search %>
    <select style="margin:0px;padding:0px;float:none;" id="search_department_id" name="search_department_id">
      <% @options.each do |option| %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
      <% end %>
    </select>

    <label for="search_title_id">职称:</label>
    <% list_titles_for_search %>
    <select style="margin:0px;padding:0px;float:none;" id="search_title_id" name="search_title_id">
      <% @options.each do |option| %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
      <% end %>
    </select>

    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <input value="重置"class="btnreset" type="reset" />
    <input value="刷新 " onclick="window.location.reload()" class="btnrefresh" type="button"  />
  </form>
  <div>
    <div class="nav">
      <span class="button" id="newItem" onclick="$page.showNewView()"><img  src="/images/icons/new.png"/>添加教职工</span>
    </div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<script>
  var departments = <%= Department.to_json%>
  var getDepartmentName = function(value){
    return departments[value]
  }
  var titles = <%= Title.to_json%>
  var getTitleName = function(value){
    return titles[value]
  }
  var positions = <%= Position.to_json%>
  var getPositionName = function(value){
    return positions[value]
  }
  var stations = <%= Station.to_json%>
  var getStationName = function(value){
    return stations[value]
  }
  var educations = <%= Education.to_json%>
  var getEducationName = function(value){
    return educations[value]
  }
  var degrees = <%= Degree.to_json%>
  var getDegreeName = function(value){
    return degrees[value]
  }
  var status = <%= Status.to_json%>
  var getStatusName = function(value){
    return status[value]
  }

  Ext.onReady(function(){
    var columns = [{
        header: "ID",
        dataIndex: 'id',
        width: 50,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "工号",
        dataIndex: 'user_number',
        width: 70,
        sortable: true
      }, {
        header: "姓名",
        dataIndex: 'name',
        width: 70,
        sortable: true
      }, {
        header: "身份证号",
        dataIndex: 'id_card',
        sortable: true,
        width: 130
      }, {
        header: "系部",
        dataIndex: 'department_id',
        sortable: true,
        renderer: getDepartmentName
      }, {
        header: "教学所属系部",
        dataIndex: 'td_belongs_id',
        sortable: true,
        renderer: getDepartmentName
      }, {
        header: "性别",
        dataIndex: 'gender',
        width: 50,
        sortable: true
      }, {
        header: "职称",
        dataIndex: 'title_id',
        width: 80,
        sortable: true,
        renderer: getTitleName
      }, {
        header: "职务",
        dataIndex: 'position_id',
        sortable: true,
        renderer: getPositionName
      }, {
        header: "岗位",
        dataIndex: 'station_id',
        sortable: true,
        hidden: true,
        renderer: getStationName
      }, {
        header: "学历",
        dataIndex: 'education_id',
        sortable: true,
        hidden: true,
        renderer: getEducationName
      }, {
        header: "学位",
        dataIndex: 'degree_id',
        sortable: true,
        hidden: true,
        renderer: getDegreeName
      }, {
        header: "身份",
        dataIndex: 'status_id',
        sortable: true,
        hidden: true,
        renderer: getStatusName
      }, {
        header: "参加工作时间",
        dataIndex: 'job_date',
        sortable: true,
        width: 150,
        hidden: true
      }, {
        header: "入校工作时间",
        dataIndex: 'ensch_date',
        sortable: true,
        width: 150,
        hidden: true
      }, {
        header: "合同号",
        dataIndex: 'contract_number',
        sortable: true,
        hidden: true
      }, {
        header: "签订时间",
        dataIndex: 'valid_from',
        sortable: true,
        width: 150,
        hidden: true
      }, {
        header: "到期时间",
        dataIndex: 'valid_end',
        sortable: true,
        width: 150,
        hidden: true
      }, {
        header: "毕业学校",
        dataIndex: 'gra_school',
        sortable: true,
        hidden: true
      }, {
        header: "生日",
        dataIndex: 'birthday',
        sortable: true,
        hidden: true
      }, {
        header: "用户名",
        dataIndex: 'login_id',
        sortable: true
      }, {
        header: "是否入编",
        dataIndex: 'is_nature',
        type : 'bool',
        width: 80,
        sortable: true
      }, {
        header: "是否离退休",
        dataIndex: 'is_retired',
        width: 80,
        type : 'bool',
        sortable: true
      }]
    var controllerName = "users";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "教职工信息列表",
      newItemLink: "newItem",
      columns: columns
    }
    $page = new ExtListPage(options);
  })
</script>
