<fieldset>
  <legend>查看教职工详细信息</legend>
  <p>
    <b>姓名:</b>
    <%=h @user.name %>
  </p>
  <p>
    <b>系部:</b>
    <%=h @user.department.name %>
  </p>
  <p>
    <b>教学所属系部:</b>
    <%=h @user.td_belongs.name %>
  </p>
  <p>
    <b>性别:</b>
    <%=h fuzzy_gender(@user.gender) %>
  </p>
  <p>
    <b>职称:</b>
    <%=h @user.title.name %>
  </p>
  <p>
    <b>职务:</b>
    <%=h @user.position.name %>
  </p>
  <p>
    <b>生日:</b>
    <%=h fuzzy_time(@user.birthday) %>
  </p>
  <p>
    <b>身份证号:</b>
    <%=h @user.id_card %>
  </p>
  <p>
    <b>登录用户名:</b>
    <%=h @user.login_id %>
  </p>
  <p>
    <b>学历:</b>
    <%=h @user.education.name if @user.education %>
  </p>
  <p>
    <b>学位:</b>
    <%=h @user.degree.name if @user.degree %>
  </p>
  <p>
    <b>身份:</b>
    <%=h @user.status.name if @user.status %>
  </p>
  <p>
    <b>参加工作时间:</b>
    <%=h fuzzy_time(@user.job_date) %>
  </p>
  <p>
    <b>入校工作时间:</b>
    <%=h fuzzy_time(@user.ensch_date) %>
  </p>
  <p>
    <b>合同号:</b>
    <%=h @user.contract_number %>
  </p>
  <p>
    <b>签订时间:</b>
    <%=h fuzzy_time(@user.valid_from) %>
  </p>
  <p>
    <b>到期时间:</b>
    <%=h fuzzy_time(@user.valid_end) %>
  </p>
  <p>
    <b>毕业学校:</b>
    <%=h @user.gra_school %>
  </p>
  <p>
    <b>是否入编:</b>
    <%=h @user.is_nature.to_s == "true" ? "是" : "否" %>
  </p>
  <p>
    <b>是否离退休:</b>
    <%=h @user.is_retired.to_s == "true" ? "是" : "否" %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>