<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Department:</b>
  <%=h @user.department.name %>
</p>

<p>
  <b>Td belongs:</b>
  <%=h @user.td_belongs.name %>
</p>

<p>
  <b>Gender:</b>
  <%=h @user.gender %>
</p>

<p>
  <b>Title:</b>
  <%=h @user.title.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @user.position.name %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>

<p>
  <b>Id card:</b>
  <%=h @user.id_card %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login_id %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Is nature:</b>
  <%=h @user.is_nature %>
</p>

<p>
  <b>Is retired:</b>
  <%=h @user.is_retired %>
</p>
<input type="button" class="button" onclick="$page.showListView(false)" value="返回" />