<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :field, "名称" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :field, "功能" %><br />
    <%= f.text_area :function, :rows => 10 %>
  </p>
  <p>
    <%= f.label :field, "URL" %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :field, "页面模块" %><br />
    <%= select("page","page_module_id", PageModule.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择页面模块" }) %>
  </p>
  <p>
    <%= f.label :hidden %><br />
    <%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.submit '更新' %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>