<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <label for="search_name">
      姓名：
    </label>
    <input type="text" value="" name="search_name" id="search_name"/>
    <label for="search_page_module_id">模块:</label>
    <% list_page_modules_for_search %>
    <select style="margin:0px;padding:0px;float:none;" id="search_page_module_id" name="search_page_module_id">
      <% @options.each do |option| %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
      <% end %>
    </select>
    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <input value="重置"class="btnreset" type="reset" />
    <input value="刷新 " onclick="window.location.reload()" class="btnrefresh" type="button"  />
  </form>
  <div>
    <div class="nav">
      <span class="button" id="newItem" onclick="$page.showNewView()"><img  src="/images/icons/new.png"/>新建</span>
    </div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<script>
  var page_modules = <%= PageModule.to_json%>
  var getPageModuleName = function(value, p, record){
    return page_modules[value]
  }

  var makeAsHideLink = function(value, p, record){
    var text = value.toString()=="true" ? "已隐藏" : "已显示";
    return String.format("<a href='#' action ='hidden' title='Hidden' class='gridButton' url='/pages/hide/{0}'>{1}</a>",record.data.id,text);
  }

  var bind_hidden_link_click = function(alink){
    var url = alink.getAttribute("url");
    Ext.get(alink).on("click",function(){
      Ext.Ajax.request({
        url: url,
        success: function(rq,params){ //rq:请求的响应，params请求时的参数（此处为｛url,success,failure｝)
          if(rq.responseText=="true"){
            $page.refreshGridData();
          }else{
            Ext.MessageBox.show({msg:"更新隐藏/显示状态失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.ERROR});
          }
        },
        failure: function(){
          Ext.MessageBox.show({msg:"请求服务器失败，请检查网络连接或与系统管理员联系",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.WARNING});
        }
      });
    })
  }
  //{header: [dataIndex(首字母大写)], renderer: money(Function),menuDisabled: [true],
  // dataIndex: "fieldName" ,width: 100, sortable: [false], resizable: [false]}
  //框[]中的为默认值
  Ext.onReady(function(){
    var columns = [{
        header: "ID",
        dataIndex: 'id',
        width: 30,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "名称",
        dataIndex: 'name',
        sortable: true
      }, {
        header: "页面功能",
        dataIndex: 'function',
        sortable: true
      }, {
        header: "链接",
        dataIndex: 'url',
        sortable: true
      },{
        header: "图标",
        dataIndex: "icon",
        sortable: true
      }, {
        header: "页面模块",
        dataIndex: 'page_module_id',
        sortable: true,
        renderer : getPageModuleName
      }, {
        header: "是否隐藏",
        dataIndex: 'hidden',
        type : 'bool',
        sortable: true,
        renderer : makeAsHideLink
      }]
    var controllerName = "pages";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "页面管理列表",
      newItemLink: "newItem",
      columns: columns,
      bindlinks: {
        "hidden" : bind_hidden_link_click
      }
    }
    $page = new ExtListPage(options);
  })
</script>
