<%= f.error_messages %>
<p>
  <%= f.label :user_id, "教职工姓名" %>
  <%= f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教职工..." }, :class => "required" %>
</p>
<p>
  <%= f.label :year, "年度" %>
  <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2015}, {:name => 'basic_salary_record[year]'}) %>
</p>
<p>
  <%= f.label :month, "月份" %>
  <%= select_month(Time.now.month, {:use_month_numbers => true}, :name => 'basic_salary_record[month]')  %>
</p>
<p>
  <%= f.label :station_sa, "岗位工资"%>
  <%= f.text_field :station_sa, :size => 10, :class => "required number"  %>
</p>
<p>
  <%= f.label :position_sa, "职务工资"%>
  <%= f.text_field :position_sa, :size => 10, :class => "required number" %>
</p>
<p>
  <%= f.label :station_be, "岗位津贴"%>
  <%= f.text_field :station_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :foreign_be, "其他国家出台津补贴"%>
  <%= f.text_field :foreign_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :region_be, "地方出台津补贴"%>
  <%= f.text_field :region_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :add_sa, "补发工资"%>
  <%= f.text_field :add_sa, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :hard_be, "艰苦边远"%>
  <%= f.text_field :hard_be, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :stay_be, "公改保留补贴"%>
  <%= f.text_field :stay_be, :size => 10, :class => "number" %>
</p>