<fieldset>
  <legend>查看[<%=h @basic_salary_record.user %>]的基本工资记录</legend>
  <p>
    <b>姓名:</b>
    <%=h @basic_salary_record.user%>
  </p>
  <p>
    <b>年份:</b>
    <%=h @basic_salary_record.year%>
  </p>
  <p>
    <b>月份:</b>
    <%=h @basic_salary_record.month%>
  </p>
  <p>
    <b>岗位工资:</b>
    <%=h @basic_salary_record.station_sa %>
  </p>
  <p>
    <b>职务工资:</b>
    <%=h @basic_salary_record.position_sa %>
  </p>
  <p>
    <b>岗位津贴:</b>
    <%=h @basic_salary_record.station_be %>
  </p>
  <p>
    <b>其他国家出台津补贴:</b>
    <%=h @basic_salary_record.foreign_be %>
  </p>
  <p>
    <b>地方出台津补贴:</b>
    <%=h @basic_salary_record.region_be %>
  </p>
  <p>
    <b>艰苦边远:</b>
    <%=h @basic_salary_record.hard_be %>
  </p>
  <p>
    <b>公改保留补贴:</b>
    <%=h @basic_salary_record.stay_be %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>