<fieldset>
  <legend>查看信息</legend>
  <p>
    <b>年度:</b>
    <%=h @temp2.year %>
  </p>
  <p>
    <b>月份:</b>
    <%=h @temp2.month %>
  </p>
  <p>
    <b>姓名:</b>
    <%=h @temp2.f1 %>
  </p>
  <p>
    <b>日期:</b>
    <%=h @temp2.f2 %>
  </p>
  <p>
    <b>岗位工资:</b>
    <%=h @temp2.f3 %>
  </p>
  <p>
    <b>薪级工资:</b>
    <%=h @temp2.f4 %>
  </p>
  <p>
    <b>艰苦边远地区津贴:</b>
    <%=h @temp2.f5 %>
  </p>
  <p>
    <b>工改保留补贴:</b>
    <%=h @temp2.f6 %>
  </p>
  <p>
    <b>其他国家出台津贴:</b>
    <%=h @temp2.f7 %>
  </p>
  <p>
    <b>地方出台津贴:</b>
    <%=h @temp2.f8 %>
  </p>
  <p>
    <b>扣发工资:</b>
    <%=h @temp2.f9 %>
  </p>
  <p>
    <b>补发工资:</b>
    <%=h @temp2.f10 %>
  </p>
  <p>
    <b>生活补贴:</b>
    <%=h @temp2.f11 %>
  </p>
  <p>
    <b>补贴补差:</b>
    <%=h @temp2.f12 %>
  </p>
  <p>
    <b>活工资补差:</b>
    <%=h @temp2.f13 %>
  </p>
  <p>
    <b>电视补贴:</b>
    <%=h @temp2.f14 %>
  </p>
  <p>
    <b>驻蓉补贴:</b>
    <%=h @temp2.f15 %>
  </p>
  <p>
    <b>应发工资:</b>
    <%=h @temp2.f16 %>
  </p>
  <p>
    <b>其他1:</b>
    <%=h @temp2.f17 %>
  </p>
  <p>
    <b>住房公积金:</b>
    <%=h @temp2.f18 %>
  </p>
  <p>
    <b>职工医疗保险费:</b>
    <%=h @temp2.f19 %>
  </p>
  <p>
    <b>职工个人教育费:</b>
    <%=h @temp2.f20 %>
  </p>
  <p>
    <b>个人所得税:</b>
    <%=h @temp2.f21 %>
  </p>
  <p>
    <b>扣水电费:</b>
    <%=h @temp2.f22 %>
  </p>
  <p>
    <b>扣失业保险费:</b>
    <%=h @temp2.f23 %>
  </p>
  <p>
    <b>其他扣款一:</b>
    <%=h @temp2.f24 %>
  </p>
  <p>
    <b>其他扣款二:</b>
    <%=h @temp2.f25 %>
  </p>
  <p>
    <b>其他扣款三:</b>
    <%=h @temp2.f26 %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>