<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>员工月工资明细</title>
    <%= stylesheet_link_tag "form.css" %>
    <%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
    <%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
    <%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
  </head>
  <body>
    <form style="margin: 10px 0px;" id="search_form">
      <fieldset>
        <legend>员工月工资明细</legend>

        <%= select_user "retired_fee_cutting[user_id]" %>

        <span id='next_select'></span>
        <p><label for="select_year">年度</label>
          <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2012}) %>
          <label for="select_month">月份</label>
          <%= select_month(Time.now.month, {:use_month_numbers => true,:prompt => "全年度",:selected => ""})  %>
        </p>
        <p><span id='total_list'></span></p>
      </fieldset>
    </form>
  </body>
</html>
