<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>全校统计信息</title>
    <%= stylesheet_link_tag "form.css" %>
    <%= javascript_include_tag "prototype" %>
  </head>
  <body>
    <% form_tag "/co_details/get_total_counting",:id=>"countingForm",:method=>"post" do %>
      <fieldset>
        <legend>全校统计信息</legend>
        <div style="float:left;width:45%"><p><label for="select_department">部门</label>
        <%= select(:department, :id, @departments, {:prompt => "全校", :selected => "" })%>
        </p></div>

        <div style="float:left;width:45%"><p><label for="select_year">年度</label>
        <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2012})%>
        </p></div>

        <div style="float:left;width:45%"><p><label for="select_month">月份</label>
        <%= select_month(Time.now.month, :use_month_numbers => true, :prompt => "全年度",:selected => "") %>
        </p></div>

        <div style="float:left;width:45%">
          <p><label for="bunnton"></label>
            <%= submit_tag "获取统计信息" %>
        </p></div>
      </fieldset>
    <% end %>
  </body>
</html>
