<%= f.error_messages %>
<% if current_admin? %>
  <%= select_user("on", "class_be_edu[user_id]", @class_be_edu.user_id) %>
<% else %>
  <p>
    <%= f.label :user_id, "用户" %>
    <%= f.select :user_id, get_department_persons.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户..." }, :class => "required" %>
  </p>
<% end %>
<p>
  <label>学期</label>
  <label for="term"><%= f.radio_button :term, "1"  %>第一学期</label>
  <label for="term"><%= f.radio_button :term, "2"  %>第二学期</label>
</p>
<p>
  <%= f.label :total_be, "学期总课时津贴" %>
  <%= f.text_field :total_be, :class => "required" %>
</p>
<p>
  <%= f.label :month, "计算月" %>
  <%= f.text_field :month, :class => "required" %>
</p>
