<%= f.error_messages %>

<% if current_admin? %>
  <p>
    <%= f.label :user_id, "用户" %>
    <%= f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户..." }, :class => "required" %>
  </p>
<% else %>
  <p>
    <%= f.label :user_id, "用户" %>
    <%= f.select :user_id, get_department_persons.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户..." }, :class => "required" %>
  </p>
<% end %>
<p>
  <%= f.label :total_be, "学期总课时津贴" %>
  <%= f.text_field :total_be, :class => "required" %>
</p>
<p>
  <%= f.label :term, "学期" %>
  <%= f.select :term, [[ '选择学期', ''], [ '第一学期', '1' ], [ '第二学期', '2' ], [ '第三学期', '3' ]], {:class => "required"} %>
</p>
<p>
  <%= f.label :month, "计算月" %>
  <%= f.text_field :month, :class => "required" %>
</p>
