<h1>New role_user</h1>

<% form_for(@role_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "用户" %><br />
   <%= select("role_user","user_id", User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户" }) %>
  </p>
  <p>
    <%= f.label "角色" %><br />
   <%= select("role_user","role_id", Role.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择角色" }) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', role_users_path %>