<fieldset>
  <legend>查看信息</legend>
  <p>
    <b>年度:</b>
    <%=h @temp4.year %>
  </p>
    <p>
    <b>月份:</b>
    <%=h @temp4.month %>
  </p>
    <p>
    <b>姓名:</b>
    <%=h @temp4.f1 %>
  </p>
    <p>
    <b>日期:</b>
    <%=h @temp4.f2 %>
  </p>
    <p>
    <b>补贴补差:</b>
    <%=h @temp4.f3 %>
  </p>
    <p>
    <b>电视补贴:</b>
    <%=h @temp4.f4 %>
  </p>
    <p>
    <b>驻蓉补贴:</b>
    <%=h @temp4.f5 %>
  </p>
    <p>
    <b>其他一:</b>
    <%=h @temp4.f6 %>
  </p>
    <p>
    <b>其他二:</b>
    <%=h @temp4.f7 %>
  </p>
    <p>
    <b>其他三:</b>
    <%=h @temp4.f8 %>
  </p>
    <p>
    <b>扣水电费:</b>
    <%=h @temp4.f9 %>
  </p>
    <p>
    <b>其他扣款一:</b>
    <%=h @temp4.f10 %>
  </p>
    <p>
    <b>其他扣款二:</b>
    <%=h @temp4.f11 %>
  </p>
    <p>
    <b>其他扣款三:</b>
    <%=h @temp4.f12 %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>