<%= f.error_messages %>
<%= select_user("on", "college_benefit[user_id]") %>
<p>
  <%= f.label :life_be, "生活补贴"%>
  <%= f.text_field :life_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :diff_be, "补贴补差"%>
  <%= f.text_field :diff_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :livesa_be, "活工资补贴"%>
  <%= f.text_field :livesa_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :tv_be, "电视补贴"%>
  <%= f.text_field :tv_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :beaulty_be, "驻蓉补贴"%>
  <%= f.text_field :beaulty_be, :size => 10, :class => "number"  %>
</p>
<p>
  <%= f.label :other_be, "其他"%>
  <%= f.text_field :other_be, :size => 10, :class => "number" %>
</p>