<h1>添加学院补贴</h1>

<% form_for(@college_benefit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :field, "教职工姓名" %>
    <%= select("basic_salary","user_id", User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择教职工" }) %>
  </p>
  <p>
    <%= f.label :field, "生活补贴"%>
    <%= f.text_field :life_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "补贴补差"%>
    <%= f.text_field :diff_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "活工资补贴"%>
    <%= f.text_field :livesa_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "电视补贴"%>
    <%= f.text_field :tv_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "驻蓉补贴"%>
    <%= f.text_field :beaulty_be, :size => 10 %>
  </p>
  <p>
    <%= f.label :field, "其他"%>
    <%= f.text_field :other_be, :size => 10 %>
  </p>
  <p>
    <%= f.submit '保存', :class => "button" %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>