<p>
  <b>User:</b>
  <%=h @college_benefit.user %>
</p>

<p>
  <b>Life be:</b>
  <%=h @college_benefit.life_be %>
</p>

<p>
  <b>Diff be:</b>
  <%=h @college_benefit.diff_be %>
</p>

<p>
  <b>Livesa be:</b>
  <%=h @college_benefit.livesa_be %>
</p>

<p>
  <b>Tv be:</b>
  <%=h @college_benefit.tv_be %>
</p>

<p>
  <b>Beaulty be:</b>
  <%=h @college_benefit.beaulty_be %>
</p>

<p>
  <b>Other be:</b>
  <%=h @college_benefit.other_be %>
</p>


<%= link_to 'Edit', edit_college_benefit_path(@college_benefit) %> |
<%= link_to 'Back', college_benefits_path %>