<%= f.error_messages %>

<% if current_admin? %>
<%= select_user "science_be_science[user_id]" %>
<% else %>
<% end %>
<p>
  <%= f.label :science_be, "科研津贴" %>
  <%= f.text_field :science_be, :class => "required number" %>
</p>
<p>
  <%= f.label :year, "年度" %>
  <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2015}, :name => 'science_be_science[year]') %>
</p>
<p>
  <%= f.label :month, "月份" %>
  <%= f.text_field :month, :class => "required" %>
</p>
