<%= f.error_messages %>
<p>
  <%= f.label :page_id, "页面" %>
  <%= f.select :page_id, pages_for_select, {:include_blank => "请选择页面..." } %>
</p>
<p>
<%= f.label :role_id, "角色" %>
<%= f.select :role_id, roles_for_select, {:include_blank => "请选择角色..." } %>
</p>