<fieldset>
  <legend>查看信息</legend>
  <p>
    <b>年度:</b>
    <%=h @temp3.year %>
  </p>
  <p>
    <b>月份:</b>
    <%=h @temp3.month %>
  </p>
  <p>
    <b>姓名:</b>
    <%=h @temp3.f1 %>
  </p>
  <p>
    <b>月基本退休费:</b>
    <%=h @temp3.f2 %>
  </p>
  <p>
    <b>工改保留补贴_93年:</b>
    <%=h @temp3.f3 %>
  </p>
  <p>
    <b>其他国家出台津补贴:</b>
    <%=h @temp3.f4 %>
  </p>
  <p>
    <b>地方出台津补贴:</b>
    <%=h @temp3.f5 %>
  </p>
  <p>
    <b>扣水费:</b>
    <%=h @temp3.f6 %>
  </p>
  <p>
    <b>其他扣款二:</b>
    <%=h @temp3.f7 %>
  </p>
  <p>
    <b>其他扣款三:</b>
    <%=h @temp3.f8 %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>