<h1>添加角色</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "名称" %><br />
    <%= f.text_field :name %>
  </p>
      <p>
 <%= submit_to_remote 'create_btn', 'Create', :url => { :action => 'create' },
   :update => { :success => "succeed", :failure => "fail" } %>
    <%= f.submit '保存', :class => "button" %>
    <input type="button" class="button" onclick="$page.showListView(false)" value="取消" />
  </p>
<% end %>