<h1>New bank_card</h1>

<% form_for(@bank_card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "用户" %><br />
   <%= select("bank_card","user_id", User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择用户" }) %>
  </p>
  <p>
    <%= f.label "银行" %><br />
    <%= select("bank_card","bank_id", Bank.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "请选择发卡银行" }) %>
  </p>
  <p>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bank_cards_path %>