<%= f.error_messages %>

<%= select_user("on", "fee_cutting[user_id]", @fee_cutting.user_id) %>
<p>
  <%= f.label :room_fee, "住房公积金" %>
  <%= f.text_field :room_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :med_fee, "医疗保险" %>
  <%= f.text_field :med_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :job_fee, "失业保险" %>
  <%= f.text_field :job_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :selfedu_fee, "职工个人教育费" %>
  <%= f.text_field :selfedu_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :elc_fee, "水电气费" %>
  <%= f.text_field :elc_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :net_fee, "上网费" %>
  <%= f.text_field :net_fee, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :other_fee1, "其他扣款一" %>
  <%= f.text_field :other_fee1, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :other_fee2, "其他扣款二" %>
  <%= f.text_field :other_fee2, :size => 10, :class => "number" %>
</p>
<p>
  <%= f.label :other_fee3, "其他扣款三" %>
  <%= f.text_field :other_fee3, :size => 10, :class => "number" %>
</p>