<p>
  <%= f.label :field, "教职工姓名" %>
  <%= f.select :user_id, users_for_select, {:include_blank => "请选择教职工..." }, :class => "required" %>
</p>
<p>
  <%= f.label :field, "住房公积金" %>
  <%= f.text_field :room_fee, :class => "required", :size => 10 %>
</p>
<p>
  <%= f.label :field, "医疗保险" %>
  <%= f.text_field :med_fee, :class => "required", :size => 10 %>
</p>
<p>
  <%= f.label :field, "失业保险" %>
  <%= f.text_field :job_fee, :class => "required", :size => 10 %>
</p>
<p>
  <%= f.label :field, "职工个人教育费" %>
  <%= f.text_field :selfedu_fee, :class => "required", :size => 10 %>
</p>
<p>
  <%= f.label :field, "其他扣款一" %>
  <%= f.text_field :other_fee1, :size => 10 %>
</p>
<p>
  <%= f.label :field, "其他扣款二" %>
  <%= f.text_field :other_fee2, :size => 10 %>
</p>
<p>
  <%= f.label :field, "其他扣款三" %>
  <%= f.text_field :other_fee3, :size => 10 %>
</p>