<p>
  <b>User:</b>
  <%=h @fee_cutting.user.name %>
</p>

<p>
  <b>Room fee:</b>
  <%=h @fee_cutting.room_fee %>
</p>

<p>
  <b>Med fee:</b>
  <%=h @fee_cutting.med_fee %>
</p>

<p>
  <b>Job fee:</b>
  <%=h @fee_cutting.job_fee %>
</p>

<p>
  <b>Selfedu fee:</b>
  <%=h @fee_cutting.selfedu_fee %>
</p>

<p>
  <b>Other fee1:</b>
  <%=h @fee_cutting.other_fee1 %>
</p>

<p>
  <b>Other fee2:</b>
  <%=h @fee_cutting.other_fee2 %>
</p>

<p>
  <b>Other fee3:</b>
  <%=h @fee_cutting.other_fee3 %>
</p>


<%= link_to 'Edit', edit_fee_cutting_path(@fee_cutting) %> |
<input type="button" class="button" onclick="$page.showListView(false)" value="取消" />