<%= f.error_messages %>
<%= select_user "station_position_benefit_record[user_id]" %>
<p>
  <%= f.label :year, "年度" %>
  <%= select_year(Time.now.year, {:start_year => 2009, :end_year => 2015}, :name => 'station_position_benefit_record[year]') %>
</p>
<p>
  <%= f.label :month, "月份" %><br />
  <%= select_month(Time.now.month, {:use_month_numbers => true}, :name => 'station_position_benefit_record[month]')  %>
</p>
<p>
  <%= f.label :station_be, "岗位津贴" %>
  <%= f.text_field :station_be, :class => 'required number' %>
</p>
<p>
  <%= f.label :position_be, "职务津贴" %>
  <%= f.text_field :position_be, :class => "required number" %>
</p>

