<%= f.error_messages %>

<%= select_user("on", "class_month_benefit_record[user_id]", @class_month_benefit_record.user_id) %>
<p>
  <%= f.label :fee, "金额" %>
  <%= f.text_field :fee, :class => "required number" %>
</p>
<p>
  <%= f.label :month, "发放月份" %>
  <%= select_month(Time.now.month, {:use_month_numbers => true}, :name => 'class_month_benefit_record[month]')  %>
</p>
<p>
  <%= f.label :date %>
  <%= select_day(Time.now.day, :name => 'class_month_benefit_record[day]', :class => "required")  %>
</p>