<%= f.error_messages %>
<p>
  <%= f.label :title, "标题" %>
  <%= f.text_field :title, :class => "required" %>
</p>
<p>
  <%= f.label :content, "内容" %>
  <%= f.text_area :content, :class => "required" %>
</p>

<p>
  <label>置顶</label>
  <label for="top"><%= f.radio_button :top, true  %>置顶</label>
  <label for="top"><%= f.radio_button :top, false %>普通</label>
</p>

<p>
  <label>隐藏</label>
  <label for="hidden"><%= f.radio_button :hidden, true  %>隐藏</label>
  <label for="hidden"><%= f.radio_button :hidden, false %>显示</label>
</p>