<link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "form.css" %>
<div id="list-view">
  <form style="margin: 10px 0px;" id="search_form">
    <input class="button" type="button" id="btnSearch" value="搜索"/>
    <a href="/temp1s/data_import"><input class="button" type="button" id="importData" value="数据导入"/></a>
    <input value="重置" class="btnreset" type="reset" />
    <input value="刷新" onclick="window.location.reload()" class="btnrefresh" type="button"  />
  </form>
  <div>
    <div id="grid-wrap">
    </div>
  </div>
</div>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/jquery.js'%>
<%= javascript_include_tag 'ext-2.2.1/adapter/jquery/ext-jquery-adapter.js'%>
<%= javascript_include_tag 'ext-2.2.1/ext-all.js'%>
<%= javascript_include_tag 'ExtListPage.js' %>
<%= javascript_include_tag 'jquery-validate/lib/jquery.form.js' %>
<%= javascript_include_tag 'jquery-validate/jquery.validate.js' %>
<%= javascript_include_tag 'jquery-validate/localization/messages_cn.js' %>
<%= javascript_include_tag 'AjaxForm.js' %>
<script>
  var makeAsImportLink = function(value, p, record){
    var data = record.data;
    return String.format("<a href='javascript:void(0)' action ='import' title='导入' class='gridButton' year='{0}' month='{1}' url='/temp1s/import/{2}'>导入</a>",data.year, data.month, data.id);
  }

  var bind_import_link_click = function(alink){
    var url = alink.getAttribute("url");
    var year = alink.getAttribute("year");
    var month = alink.getAttribute("month");
    Ext.get(alink).on("click",function(){
      Ext.Ajax.request({
        url: url,
        params: {month: month, year: year},
        success: function(rq,params){ //rq:请求的响应，params请求时的参数（此处为｛url,success,failure｝)
          if(rq.responseText=="true"){
            $page.refreshGridData();
          }else{
            Ext.MessageBox.show({msg:"导入失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.ERROR});
          }
        },
        failure: function(){
          Ext.MessageBox.show({msg:"导入失败",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.WARNING});
        }
      });
    })
  }

  //{header: [dataIndex(首字母大写)], renderer: money(Function),menuDisabled: [true],
  // dataIndex: "fieldName" ,width: 100, sortable: [false], resizable: [false]}
  //框[]中的为默认值
  Ext.onReady(function(){
    var columns = [{
        header: "ID",
        dataIndex: 'id',
        width: 30,
        sortable: true,
        type: "int",
        resizable: false
      }, {
        header: "年度",
        dataIndex: 'year',
        width: 60,
        sortable: true
      }, {
        header: "月份",
        dataIndex: 'month',
        width: 60,
        sortable: true
      }, {
        header: "姓名",
        dataIndex: 'f1',
        width: 70,
        sortable: true
      }, {
        header: "月基本离休费",
        dataIndex: 'f2',
        sortable: true
      }, {
        header: "工改保留补贴_93年",
        dataIndex: 'f3',
        sortable: true
      }, {
        header: "其他国家出台津补贴",
        dataIndex: 'f4',
        sortable: true
      }, {
        header: "地方出台津补贴",
        dataIndex: 'f5',
        sortable: true
      }, {
        header: "补发工资",
        dataIndex: 'f6',
        sortable: true
      }, {
        header: "扣水费",
        dataIndex: 'f7',
        sortable: true
      },{
        header: "导入",
        dataIndex: 'id',
        sortable: false,
        renderer: makeAsImportLink
      }]
    var controllerName = "temp1s";
    options = {
      baseUrl: "http://" + window.location.host + "/" + controllerName,
      gridTitle: "管理列表",
      newItemLink: "newItem",
      columns: columns,
      bindlinks: {
        "import": bind_import_link_click
      }
    }
    $page = new ExtListPage(options);
  })
</script>
