<fieldset>
  <legend>查看导入信息</legend>
  <p>
    <b>年度:</b>
    <%=h @temp1.year %>
  </p>
  <p>
    <b>年度:</b>
    <%=h @temp1.year %>
  </p>
  <p>
    <b>月份:</b>
    <%=h @temp1.month %>
  </p>
  <p>
    <b>姓名:</b>
    <%=h @temp1.f1 %>
  </p>
  <p>
    <b>月基本离休费:</b>
    <%=h @temp1.f2 %>
  </p>
  <p>
    <b>工改保留补贴_93年:</b>
    <%=h @temp1.f3 %>
  </p>
  <p>
    <b>其他国家出台津补贴:</b>
    <%=h @temp1.f4 %>
  </p>
  <p>
    <b>地方出台津补贴:</b>
    <%=h @temp1.f5 %>
  </p>
  <p>
    <b>补发工资:</b>
    <%=h @temp1.f6 %>
  </p>
  <p>
    <b>扣水费:</b>
    <%=h @temp1.f7 %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>